<?xml version='1.0' encoding='UTF-8'?>
<robot name="proto_type">
  <link name="base_link">
    <inertial>
      <origin xyz="-4.2558171182705e-06 1.1225964209836e-05 -0.215899999907217" rpy="0.0 -0.0 0.0"/>
      <mass value="1.90859968353568"/>
      <inertia ixx="0.0162419971330382" ixy="4.56271680930171e-05" ixz="-4.69435220066161e-11" iyy="0.0168438204899763" iyz="-1.78508266758785e-11" izz="0.0050226778184606"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://proto_type/meshes/base_link.dae"/>
      </geometry>
      <material name="__unnamed_material_1"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://proto_type/meshes/base_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="thruster_0">
    <inertial>
      <origin xyz="-0.014292 -0.0143 0.017717" rpy="0.0 -0.0 0.0"/>
      <mass value="0.099392"/>
      <inertia ixx="7.9154e-05" ixy="6.1395e-08" ixz="-3.7817e-06" iyy="7.9136e-05" iyz="-3.804e-06" izz="7.672e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_0.dae"/>
      </geometry>
      <material name="__unnamed_material_2"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_0.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="thruster_1">
    <inertial>
      <origin xyz="0.0143 -0.014292 0.017717" rpy="0.0 -0.0 0.0"/>
      <mass value="0.099392"/>
      <inertia ixx="7.9136e-05" ixy="-6.1395e-08" ixz="3.804e-06" iyy="7.9154e-05" iyz="-3.7817e-06" izz="7.672e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_1.dae"/>
      </geometry>
      <material name="__unnamed_material_3"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_1.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="thruster_2">
    <inertial>
      <origin xyz="-0.0143 0.014292 0.017717" rpy="0.0 -0.0 0.0"/>
      <mass value="0.099392"/>
      <inertia ixx="7.9136e-05" ixy="-6.1395e-08" ixz="-3.804e-06" iyy="7.9154e-05" iyz="3.7817e-06" izz="7.672e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_2.dae"/>
      </geometry>
      <material name="__unnamed_material_4"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_2.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="thruster_3">
    <inertial>
      <origin xyz="0.014292 0.0143 0.017717" rpy="0.0 -0.0 0.0"/>
      <mass value="0.099392"/>
      <inertia ixx="7.9154e-05" ixy="6.1395e-08" ixz="3.7817e-06" iyy="7.9136e-05" iyz="3.804e-06" izz="7.672e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_3.dae"/>
      </geometry>
      <material name="__unnamed_material_5"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_3.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="thruster_4">
    <inertial>
      <origin xyz="0.014292 -0.0143 -0.017717" rpy="0.0 -0.0 0.0"/>
      <mass value="0.099392"/>
      <inertia ixx="7.9154e-05" ixy="-6.1395e-08" ixz="-3.7817e-06" iyy="7.9136e-05" iyz="3.804e-06" izz="7.672e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_4.dae"/>
      </geometry>
      <material name="__unnamed_material_6"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_4.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="thruster_5">
    <inertial>
      <origin xyz="0.204989569717696 -0.0142922441746005 -0.0177167300549156" rpy="0.0 -0.0 0.0"/>
      <mass value="0.0993924873705004"/>
      <inertia ixx="7.91363117744372e-05" ixy="6.13947103624969e-08" ixz="3.80401853538402e-06" iyy="7.91541243411415e-05" iyz="3.781720562086e-06" izz="7.67197078219348e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_5.dae"/>
      </geometry>
      <material name="__unnamed_material_7"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_5.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="thruster_6">
    <inertial>
      <origin xyz="0.205 0.0143 -0.017717" rpy="0.0 -0.0 0.0"/>
      <mass value="0.099392"/>
      <inertia ixx="7.9154e-05" ixy="-6.1395e-08" ixz="3.7817e-06" iyy="7.9136e-05" iyz="-3.804e-06" izz="7.672e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_6.dae"/>
      </geometry>
      <material name="__unnamed_material_8"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_6.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="thruster_7">
    <inertial>
      <origin xyz="-0.014292 0.0143 -0.017717" rpy="0.0 -0.0 0.0"/>
      <mass value="0.099392"/>
      <inertia ixx="7.9154e-05" ixy="-6.1395e-08" ixz="3.7817e-06" iyy="7.9136e-05" iyz="-3.804e-06" izz="7.672e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_7.dae"/>
      </geometry>
      <material name="__unnamed_material_9"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://proto_type/meshes/thruster_7.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="thruster_0" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="thruster_0"/>
    <axis xyz="-0.49999886 -0.49999886  0.70710839"/>
    <origin xyz="0.10964 0.096917 -0.39159" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="thruster_1" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="thruster_1"/>
    <axis xyz=" 0.49999886 -0.49999886  0.70710839"/>
    <origin xyz="-0.10964 0.096917 -0.39159" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="thruster_2" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="thruster_2"/>
    <axis xyz="-0.49999886  0.49999886  0.70710839"/>
    <origin xyz="0.10964 -0.096917 -0.39159" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="thruster_3" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="thruster_3"/>
    <axis xyz="0.49999886 0.49999886 0.70710839"/>
    <origin xyz="-0.10964 -0.096917 -0.39159" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="thruster_4" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="thruster_4"/>
    <axis xyz=" 0.49999886 -0.49999886 -0.70710839"/>
    <origin xyz="-0.10964 0.096917 -0.040214" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="thruster_5" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="thruster_5"/>
    <axis xyz="-0.49999886 -0.49999886 -0.70710839"/>
    <origin xyz="-0.10964 0.096917 -0.040214" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="thruster_6" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="thruster_6"/>
    <axis xyz=" 0.49999886  0.49999886 -0.70710839"/>
    <origin xyz="-0.10964 -0.096917 -0.040214" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="thruster_7" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="thruster_7"/>
    <axis xyz="-0.49999886  0.49999886 -0.70710839"/>
    <origin xyz="0.10964 -0.096917 -0.040214" rpy="0.0 -0.0 0.0"/>
  </joint>
  <material name="__unnamed_material_1">
    <color rgba="0.75294118 0.75294118 0.75294118 1.        "/>
  </material>
  <material name="__unnamed_material_2">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
  <material name="__unnamed_material_3">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
  <material name="__unnamed_material_4">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
  <material name="__unnamed_material_5">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
  <material name="__unnamed_material_6">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
  <material name="__unnamed_material_7">
    <color rgba="0.79215686 0.81960784 0.93333333 1.        "/>
  </material>
  <material name="__unnamed_material_8">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
  <material name="__unnamed_material_9">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
</robot>
