<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="proto_type">
<m_f_rate value="-0.0172" />
  <link name="root">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" ixy="0.0" ixz="0.0"
            iyy="0.000001" iyz="0.0"
            izz="0.000001"/>
      </inertial>
    </link>
    <joint name="root_joint" type="fixed">
      <parent link="root"/>
      <child link="base_link"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>
  <link name="base_link">
    <inertial>
      <origin xyz="-4.2558171182705e-06 1.1225964209836e-05 -0.215899999907217" rpy="0.0 -0.0 0.0"/>
      <mass value="1.90859968353568"/>
      <inertia ixx="0.0162419971330382" ixy="4.56271680930171e-05" ixz="-4.69435220066161e-11" iyy="0.0168438204899763" iyz="-1.78508266758785e-11" izz="0.0050226778184606"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/base_link.dae"/>
      </geometry>
      <material name="__unnamed_material_1"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/base_link.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="fc">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.00001"/>
        <inertia
            ixx="0.000001" ixy="0.0" ixz="0.0"
            iyy="0.000001" iyz="0.0"
            izz="0.000001"/>
      </inertial>
    </link>
    <joint name="fc_joint" type="fixed">
      <child link="fc"/>
      <parent link="base_link"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>
  <xacro:macro name="add_rotor_and_thrust" params="id parent min_thrust max_thrust direction">
    
    <link name="thrust${id}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.0001"/>
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00002"/>
      </inertial>
    </link>

    <joint name="rotor${id}" type="continuous">
      <limit effort="100.0" lower="${min_thrust}" upper="${max_thrust}" velocity="50.0"/>
      <parent link="${parent}"/>
      <child link="thrust${id}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 ${direction}"/>
    </joint>

    <transmission name="rotor_tran${id}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="rotor${id}">
        <hardwareInterface>RotorInterface</hardwareInterface>
      </joint>
      <actuator name="actuator_rotor_${id}">
        <hardwareInterface>RotorInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>
  <link name="booster_0">
    <inertial>
      <origin xyz="-0.014292 -0.0143 0.017717" rpy="0.0 -0.0 0.0"/>
      <mass value="0.099392"/>
      <inertia ixx="7.9154e-05" ixy="6.1395e-08" ixz="-3.7817e-06" iyy="7.9136e-05" iyz="-3.804e-06" izz="7.672e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_0.dae"/>
      </geometry>
      <material name="__unnamed_material_2"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_0.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="booster_1">
    <inertial>
      <origin xyz="0.0143 -0.014292 0.017717" rpy="0.0 -0.0 0.0"/>
      <mass value="0.099392"/>
      <inertia ixx="7.9136e-05" ixy="-6.1395e-08" ixz="3.804e-06" iyy="7.9154e-05" iyz="-3.7817e-06" izz="7.672e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_1.dae"/>
      </geometry>
      <material name="__unnamed_material_3"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_1.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="booster_2">
    <inertial>
      <origin xyz="-0.0143 0.014292 0.017717" rpy="0.0 -0.0 0.0"/>
      <mass value="0.099392"/>
      <inertia ixx="7.9136e-05" ixy="-6.1395e-08" ixz="-3.804e-06" iyy="7.9154e-05" iyz="3.7817e-06" izz="7.672e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_2.dae"/>
      </geometry>
      <material name="__unnamed_material_4"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_2.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="booster_3">
    <inertial>
      <origin xyz="0.014292 0.0143 0.017717" rpy="0.0 -0.0 0.0"/>
      <mass value="0.099392"/>
      <inertia ixx="7.9154e-05" ixy="6.1395e-08" ixz="3.7817e-06" iyy="7.9136e-05" iyz="3.804e-06" izz="7.672e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_3.dae"/>
      </geometry>
      <material name="__unnamed_material_5"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_3.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="booster_4">
    <inertial>
      <origin xyz="0.014292 -0.0143 -0.017717" rpy="0.0 -0.0 0.0"/>
      <mass value="0.099392"/>
      <inertia ixx="7.9154e-05" ixy="-6.1395e-08" ixz="-3.7817e-06" iyy="7.9136e-05" iyz="3.804e-06" izz="7.672e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_4.dae"/>
      </geometry>
      <material name="__unnamed_material_6"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_4.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="booster_5">
    <inertial>
      <origin xyz="0.204989569717696 -0.0142922441746005 -0.0177167300549156" rpy="0.0 -0.0 0.0"/>
      <mass value="0.0993924873705004"/>
      <inertia ixx="7.91363117744372e-05" ixy="6.13947103624969e-08" ixz="3.80401853538402e-06" iyy="7.91541243411415e-05" iyz="3.781720562086e-06" izz="7.67197078219348e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_5.dae"/>
      </geometry>
      <material name="__unnamed_material_7"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_5.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="booster_6">
    <inertial>
      <origin xyz="0.205 0.0143 -0.017717" rpy="0.0 -0.0 0.0"/>
      <mass value="0.099392"/>
      <inertia ixx="7.9154e-05" ixy="-6.1395e-08" ixz="3.7817e-06" iyy="7.9136e-05" iyz="-3.804e-06" izz="7.672e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_6.dae"/>
      </geometry>
      <material name="__unnamed_material_8"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_6.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="booster_7">
    <inertial>
      <origin xyz="-0.014292 0.0143 -0.017717" rpy="0.0 -0.0 0.0"/>
      <mass value="0.099392"/>
      <inertia ixx="7.9154e-05" ixy="-6.1395e-08" ixz="3.7817e-06" iyy="7.9136e-05" iyz="-3.804e-06" izz="7.672e-05"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_7.dae"/>
      </geometry>
      <material name="__unnamed_material_9"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://uuv_d/urdf/mesh/proto_type/meshes/thruster_7.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="booster_0" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="booster_0"/>
    <axis xyz="-0.49999886 -0.49999886  0.70710839"/>
    <origin xyz="0.10964 0.096917 -0.39159" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="booster_1" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="booster_1"/>
    <axis xyz=" 0.49999886 -0.49999886  0.70710839"/>
    <origin xyz="-0.10964 0.096917 -0.39159" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="booster_2" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="booster_2"/>
    <axis xyz="-0.49999886  0.49999886  0.70710839"/>
    <origin xyz="0.10964 -0.096917 -0.39159" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="booster_3" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="booster_3"/>
    <axis xyz="0.49999886 0.49999886 0.70710839"/>
    <origin xyz="-0.10964 -0.096917 -0.39159" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="booster_4" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="booster_4"/>
    <axis xyz=" 0.49999886 -0.49999886 -0.70710839"/>
    <origin xyz="-0.10964 0.096917 -0.040214" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="booster_5" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="booster_5"/>
    <axis xyz="-0.49999886 -0.49999886 -0.70710839"/>
    <origin xyz="-0.10964 0.096917 -0.040214" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="booster_6" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="booster_6"/>
    <axis xyz=" 0.49999886  0.49999886 -0.70710839"/>
    <origin xyz="-0.10964 -0.096917 -0.040214" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="booster_7" type="continuous">
    <limit effort="0.0" velocity="0.0"/>
    <parent link="base_link"/>
    <child link="booster_7"/>
    <axis xyz="-0.49999886  0.49999886 -0.70710839"/>
    <origin xyz="0.10964 -0.096917 -0.040214" rpy="0.0 -0.0 0.0"/>
  </joint>
  <material name="__unnamed_material_1">
    <color rgba="0.75294118 0.75294118 0.75294118 1.        "/>
  </material>
  <material name="__unnamed_material_2">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
  <material name="__unnamed_material_3">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
  <material name="__unnamed_material_4">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
  <material name="__unnamed_material_5">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
  <material name="__unnamed_material_6">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
  <material name="__unnamed_material_7">
    <color rgba="0.79215686 0.81960784 0.93333333 1.        "/>
  </material>
  <material name="__unnamed_material_8">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
  <material name="__unnamed_material_9">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
  <xacro:property name="min_t" value="-20.0" />
  <xacro:property name="max_t" value="20.0" />

  <xacro:add_rotor_and_thrust id="1" parent="booster_0" min_thrust="${min_t}" max_thrust="${max_t}" direction="1"/> 
  <xacro:add_rotor_and_thrust id="2" parent="booster_1" min_thrust="${min_t}" max_thrust="${max_t}" direction="-1"/>
  <xacro:add_rotor_and_thrust id="3" parent="booster_2" min_thrust="${min_t}" max_thrust="${max_t}" direction="1"/>
  <xacro:add_rotor_and_thrust id="4" parent="booster_3" min_thrust="${min_t}" max_thrust="${max_t}" direction="-1"/>
  <xacro:add_rotor_and_thrust id="5" parent="booster_4" min_thrust="${min_t}" max_thrust="${max_t}" direction="1"/>
  <xacro:add_rotor_and_thrust id="6" parent="booster_5" min_thrust="${min_t}" max_thrust="${max_t}" direction="-1"/>
  <xacro:add_rotor_and_thrust id="7" parent="booster_6" min_thrust="${min_t}" max_thrust="${max_t}" direction="1"/>
  <xacro:add_rotor_and_thrust id="8" parent="booster_7" min_thrust="${min_t}" max_thrust="${max_t}" direction="-1"/> 

</robot>
