<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="serial_soft_airframe" >

  <!-- basic kinematics model -->
  <xacro:include filename="$(find hydrus)/urdf/common.xacro" />
  <xacro:include filename="$(find hydrus)/urdf/soft_link.urdf.xacro" />

  <!-- Dummy root link for KDL. There are no ordinary rigid airframe links. -->
  <link name="root">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.00001"/>
      <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0"
          izz="0.000002"/>
    </inertial>
  </link>


  <!-- flight controller -->
  <xacro:extra_module name="fc_link" parent="servo_link2" visible="1" model_url="package://hydrus/urdf/mesh/ver2/flight_controller/spinal.dae">
    <origin xyz="0.05 0 0.01" rpy="0 0 0"/>
    <inertial>
      <origin xyz="0.02700000 0.00000000 0.01130642" rpy="0 0 0"/>
      <mass value="0.02687673"/>
      <inertia
          ixx="0.00001064" ixy="0.00000000" ixz="0.00000000"
          iyy="0.00001198" iyz="0.00000000"
          izz="0.00001584"/>
    </inertial>
  </xacro:extra_module>

  <xacro:extra_module name="fc" parent="fc_link">
    <origin xyz="0.0099 -0.0012 -0.019" rpy="0 0 0"/>
    <inertial>
      <mass value="0.00001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0"
          izz="0.000002"/>
    </inertial>
  </xacro:extra_module>

  <!-- onboard computer -->
  <xacro:extra_module name="vim4" parent="servo_link2" visible="1" model_url="package://hydrus/urdf/mesh/vim4.dae">
    <origin xyz="0.05 0 -0.01" rpy="0 0 0"/>
    <inertial>
      <origin xyz="0.00146548 0.00262274 0.01119251" rpy="0 0 0"/>
      <mass value="0.06613440"/>
      <inertia
          ixx="0.00001715" ixy="-0.00000087" ixz="0.00000023"
          iyy="0.00003523" iyz="0.00000039"
          izz="0.00004879"/>
    </inertial>
  </xacro:extra_module>

  <!-- Four soft-link modules connected in series.
       Module i creates:
         servo_link{i}, soft_link{3*i-2}, soft_link{3*i-1}, soft_link{3*i}, gimbal_link{i}, thrust{i}
  -->

  <xacro:soft_link_module
      i="1"
      parent="root"
      rotor_direction="-1"
      parent_to_servo_x="0.0"
      prev_tilt_angle="0"
      tilt_angle="0.174"
      soft_weight_sum="0.251" />

  <xacro:soft_link_module
      i="2"
      parent="gimbal_link1"
      rotor_direction="1"
      servo_size_x="0.156"
      servo_size_y="0.06"
      servo_size_z="0.01"
      servo_mass="0.229"
      prev_tilt_angle="-0.174"
      tilt_angle="-0.174" />

  <!-- The third module has a slightly longer and larger servo body. -->
  <xacro:soft_link_module
      i="3"
      parent="gimbal_link2"
      rotor_direction="-1"
      prev_tilt_angle="0.174"
      tilt_angle="0.174" />

  <xacro:soft_link_module
      i="4"
      parent="gimbal_link3"
      rotor_direction="1"
      prev_tilt_angle="-0.174"
      tilt_angle="-0.174" />

</robot>